Nome:
<!-- <input 
  ngModel
  #meuInput
  #meuInputFormControl="ngModel"
  [ngClass]="{
    'valid': meuInputFormControl.valid && meuInputFormControl.touched,
    'invalid': meuInputFormControl.invalid && meuInputFormControl.touched,
  }"
  minlength="5"
  required
/> -->
<!-- <form></form> -->
<input 
  ngModel
  #meuInput
  #meuInputFormControl="ngModel"
  minlength="5"
  required
/>

<input 
  ngModel
  #meuInput
  #meuInputFormControl="ngModel"
  minlength="5"
  required
/>

<div *ngIf="meuInputFormControl.invalid && meuInputFormControl.touched">
  <div *ngIf="meuInputFormControl.hasError('required')">
    O campo Nome é obrigatório.
  </div>

  <div *ngIf="meuInputFormControl.hasError('minlength')">
    O campo Nome deve ter pelo menos 5 caracteres.
  </div>
</div>

<p>Válido: {{ meuInputFormControl.valid }}</p>
<p>Tocado: {{ meuInputFormControl.touched }}</p>
<p>Sujo: {{ meuInputFormControl.dirty }}</p>

<br />

<button (click)="send()">Enviar</button>