<input 
    id="meu-input" 
    [value]="inputText" 
    [type]="inputType" 
    [disabled]="isDisabled" 
    (keyup)="handleInputKeyup($event)"
    (input)="handleInputEvent($event)"
    />
    <!-- 
    [] - Property Binding ->Envia do TS pra propriedade do HTML
    () - Event Binding -> Envia do HTML para o TS
    -->

<br />

<button (click)="enableInput()">Habilitar</button>
<button (click)="disableInput()">Desabilitar</button>

<br />

<button (click)="setPasswordTypeInput()">Senha</button>
<button (click)="setTextTypeInput()">Texto</button>

<br />

<button (click)="logInputText()">Log</button>

<br />
<br />

<button [attr.title]="buttonTitle">attr.title</button>
<!-- na maioria dos casos é utilizado o property binding-->
<button [title]="buttonTitle">Properties -> title</button>

<br />
<!-- faz um ternário pra inserir ou nao o atributo disabled -->
<button [attr.disabled]="buttonDisable ? true : null">attr.disabled</button>

<br />
<!-- faz um ternário pra inserir ou nao o atributo disabled -->
<button (click)="onButtonClick()">Mudar Props</button>
