<form [formGroup]="pessoaForm">
  <label for="name">Nome: </label>
  <input type="text" id="name" formControlName="nome"/> <br/>
  <small *ngIf="nome?.hasError('required')" style="color:red;">O Nome é obrigatório</small>

  <br />

  <label for="email">Email: </label>
  <input type="text" id="email" formControlName="email"/> <br/>
   <small *ngIf="email?.hasError('required')" style="color:red;">O Email é obrigatório</small>


  <br />

  <button type="submit" [disabled]="!pessoaForm.valid" (click)="mostrarValue()">Enviar</button>

  <p>Formulário válido: {{ pessoaForm.valid }}</p>
</form>
