<!-- <app-card>
  <p>Sou um conteúdo</p>
  <button>Botão</button>
</app-card>
<br/>

<hr>

<app-card>
  <p class="texto">Sou OUTRO conteúdo</p>
  <h2 class="texto">Título</h2>
  <button attrTeste>Coisa</button>
</app-card> -->

<!-- <app-card>
  <div card-content>
    Sou o content!
  </div>
  <div card-footer>
    Sou o footer!
  </div>
  <div card-header>
    Sou o header!
  </div>
</app-card> -->


<app-card>
  <app-comp-texto></app-comp-texto>
  <button>Botão</button>
</app-card>
