<h1>{{ text | uppercase }}</h1>

<h1>{{ pessoa | json }}</h1>


<h2>EVITAR - chamando o método - chama 18x</h2>
<h1
  [class]="getStyle(pessoa.status)"
>{{ pessoa.name | json }}</h1>
<h1
   [class]="getStyle(pessoa2.status)"
>{{ pessoa2.name | json }}</h1>
<h1
   [class]="getStyle(pessoa3.status)"
>{{ pessoa3.name | json }}</h1>



<h2>CORRETO - com  PIPE - chama só 3x</h2>
<h1
  [class]="pessoa.status | statusClass"
>{{ pessoa.name | json }}</h1>
<h1
   [class]="pessoa.status | statusClass"
>{{ pessoa2.name | json }}</h1>
<h1
   [class]="pessoa.status | statusClass"
>{{ pessoa3.name | json }}</h1>