<div class="p-4">
    <div class="p-4 grid lg:grid-cols-3 gap-4">
        <app-user-info-item title="Nome" [text]="'Fulano'"></app-user-info-item>
        <div>
            <p class="text-xl font-semibold">Email:</p>
            <p class="text-lg">Fulano"&#64;amil.com</p>
        </div>
    </div>
    <div class="p-4 grid lg:grid-cols-3 gap-4">
         <div>
            <p class="text-xl font-semibold">País:</p>
            <p class="text-lg">Brazil</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Estado:</p>
            <p class="text-lg">Rio de Janeiro</p>
        </div>
    </div>
    <div class="p-4 grid lg:grid-cols-3 gap-4">
        <div>
            <p class="text-xl font-semibold">Estado Civil:</p>
            <p class="text-lg">Solteiro</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Renda Mensal:</p>
            <p class="text-lg">1000</p>
        </div>
        <div>
            <p class="text-xl font-semibold">Data de Nascimento:</p>
            <p class="text-lg">02/06/1981</p>
        </div>
    </div>
</div>
