<mat-card>
    <mat-card-content>
        <form class="user-form" #userForm="ngForm" appPasswordConfirmationValidator>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-100">
                    <mat-label>Nome:</mat-label>
                    <input type="text" name="nome" matInput [(ngModel)]="userSelected.name" required>
                    <mat-error>O <b>Nome</b> é obrigatório.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                 <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Usuário:</mat-label>
                    <input 
                        type="text" 
                        name="usuario" 
                        matInput 
                        [(ngModel)]="userSelected.username"
                        [ngModelOptions]="{ updateOn: 'blur'}"
                        #usernameControl="ngModel"
                        [appCredentialsValidator]="'username'"
                        required
                    />
                    <mat-hint>O <b>Usuário</b> será utilizado para o login</mat-hint>
                    <mat-error *ngIf="usernameControl.hasError('required')">O <b>Usuário</b> é obrigatório.</mat-error>
                    <mat-error *ngIf="usernameControl.hasError('invalidUsername') && !usernameControl.hasError('required')">Este <b>Usuário</b> já está sendo utilizado.</mat-error>
                </mat-form-field>
                 <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Email:</mat-label>
                    <input 
                        type="text" 
                        name="email" 
                        matInput 
                        [(ngModel)]="userSelected.email"
                        [ngModelOptions]="{ updateOn: 'blur'}"
                        #emailControl="ngModel"
                        [appCredentialsValidator]="'email'"
                        appEmailPatternValidator
                        required
                    />
                    <mat-error *ngIf="emailControl.hasError('required')">O <b>Email</b> é obrigatório.</mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmailPattern') && !emailControl.hasError('required')">O <b>Email</b> é invalido.</mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">Este <b>Email</b> já está sendo utilizado.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Senha:</mat-label>
                     <input 
                        type="text" 
                        name="senha" 
                        matInput 
                        [(ngModel)]="userSelected.password"
                        (ngModelChange)="onPasswordChange($event)"
                        #passwordControl="ngModel"
                        appPasswordStrengthValidator
                        required
                    />
                    <mat-error *ngIf="passwordControl.hasError('required')">A <b>Senha</b> é obrigatória.</mat-error>
                    <mat-error *ngIf="passwordControl.hasError('invalidPasswordStrength') && !passwordControl.hasError('required')">Digite uma <b>Senha</b> mais forte.</mat-error>
                    <mat-progress-bar [value]="passwordStrengthValue" [ngClass]="{
                        'weak-password': passwordStrengthValue === 0 || passwordStrengthValue === 30,
                        'medium-password': passwordStrengthValue === 60,
                        'strong-password': passwordStrengthValue === 100,
                    }"></mat-progress-bar>{{passwordStrengthValue}}
                </mat-form-field>
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Confirmação de Senha:</mat-label>
                     <input
                        autocomplete="one-time-code" 
                        type="text" 
                        name="confirmacaoSenha" 
                        matInput 
                        ngModel
                        (ngModelChange)="onPasswordChange($event)"
                        #passwordConfirmationControl="ngModel"
                        appPasswordStrengthValidator
                        required
                    />
                    <mat-error *ngIf="passwordConfirmationControl.hasError('required')">A <b>Confirmação de Senha</b> é obrigatória.</mat-error>
                    <mat-error *ngIf="passwordConfirmationControl.hasError('invalidPasswordConfirmation') && !passwordConfirmationControl.hasError('required')">As <b>Senhas</b> estão incorretas.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field  class="user-form__item user-form__item-50">
                    <mat-label>Data de Nascimento:</mat-label>
                    <input
                        matInput 
                        [matDatepicker]="picker"
                        [min]="minDate"
                        [max]="maxDate"
                        name="dataNascimento"
                        [ngModel]="dateValue"
                        readonly
                        required
                    />
                    <mat-hint>dd/mm/aaaa</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker>
                        <mat-datepicker-actions>
                                <button mat-button matDateRangePickerCancel>Cancelar</button>
                                <button mat-raised-button color="primary" matDateRangePickerApply>Confirmar</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                    <mat-error>A <b>Data de Nascimento</b> é obrigatória</mat-error>
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>