<mat-card>
    <mat-card-content>
        <form class="user-form" #userForm="ngForm" appPasswordConfirmationValidator>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-100">
                    <mat-label>Nome:</mat-label>
                    <input type="text" name="nome" matInput [(ngModel)]="userSelected.name" required>
                    <mat-error>O <b>Nome</b> é obrigatório.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                 <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Usuário:</mat-label>
                    <input 
                        type="text" 
                        name="usuario" 
                        matInput 
                        [(ngModel)]="userSelected.username"
                        [ngModelOptions]="{ updateOn: 'blur'}"
                        #usernameControl="ngModel"
                        [appCredentialsValidator]="'username'"
                        required
                    />
                    <mat-hint>O <b>Usuário</b> será utilizado para o login</mat-hint>
                    <mat-error *ngIf="usernameControl.hasError('required')">O <b>Usuário</b> é obrigatório.</mat-error>
                    <mat-error *ngIf="usernameControl.hasError('invalidUsername') && !usernameControl.hasError('required')">Este <b>Usuário</b> já está sendo utilizado.</mat-error>
                </mat-form-field>
                 <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Email:</mat-label>
                    <input 
                        type="text" 
                        name="email" 
                        matInput 
                        [(ngModel)]="userSelected.email"
                        [ngModelOptions]="{ updateOn: 'blur'}"
                        #emailControl="ngModel"
                        [appCredentialsValidator]="'email'"
                        appEmailPatternValidator
                        required
                    />
                    <mat-error *ngIf="emailControl.hasError('required')">O <b>Email</b> é obrigatório.</mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmailPattern') && !emailControl.hasError('required')">O <b>Email</b> é invalido.</mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalidEmail') && !emailControl.hasError('required')">Este <b>Email</b> já está sendo utilizado.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Senha:</mat-label>
                     <input 
                        type="text" 
                        name="senha" 
                        matInput 
                        [(ngModel)]="userSelected.password"
                        (ngModelChange)="onPasswordChange($event)"
                        #passwordControl="ngModel"
                        appPasswordStrengthValidator
                        required
                    />
                    <mat-error *ngIf="passwordControl.hasError('required')">A <b>Senha</b> é obrigatória.</mat-error>
                    <mat-error *ngIf="passwordControl.hasError('invalidPasswordStrength') && !passwordControl.hasError('required')">Digite uma <b>Senha</b> mais forte.</mat-error>
                    <mat-progress-bar [value]="passwordStrengthValue" [ngClass]="{
                        'weak-password': passwordStrengthValue === 0 || passwordStrengthValue === 30,
                        'medium-password': passwordStrengthValue === 60,
                        'strong-password': passwordStrengthValue === 100,
                    }"></mat-progress-bar>{{passwordStrengthValue}}
                </mat-form-field>
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Confirmação de Senha:</mat-label>
                     <input
                        autocomplete="one-time-code" 
                        type="text" 
                        name="confirmacaoSenha" 
                        matInput 
                        ngModel
                        (ngModelChange)="onPasswordChange($event)"
                        #passwordConfirmationControl="ngModel"
                        appPasswordStrengthValidator
                        required
                    />
                    <mat-error *ngIf="passwordConfirmationControl.hasError('required')">A <b>Confirmação de Senha</b> é obrigatória.</mat-error>
                    <mat-error *ngIf="passwordConfirmationControl.hasError('invalidPasswordConfirmation') && !passwordConfirmationControl.hasError('required')">As <b>Senhas</b> estão incorretas.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <mat-form-field  class="user-form__item user-form__item-50">
                    <mat-label>Data de Nascimento:</mat-label>
                    <input
                        matInput 
                        [matDatepicker]="picker"
                        [min]="minDate"
                        [max]="maxDate"
                        name="dataNascimento"
                        [ngModel]="dateValue"
                        (dateChange)="onDateChange($event)"
                        readonly
                        required
                    />
                    <mat-hint>dd/mm/aaaa</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker>
                        <mat-datepicker-actions>
                                <button mat-button matDateRangePickerCancel>Cancelar</button>
                                <button mat-raised-button color="primary" matDateRangePickerApply>Confirmar</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                    <mat-error>A <b>Data de Nascimento</b> é obrigatória</mat-error>
                </mat-form-field>
                <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Estado:</mat-label>
                    <mat-select name="estado" [(ngModel)]="userSelected.state" required>
                        <mat-option>-</mat-option>
                        <mat-option *ngFor="let state of statesList" [value]="state.id">{{ state.descricao }}</mat-option>
                    </mat-select>
                    <mat-error>O <b>Estado</b> é obrigatório.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                <div class="user-form__musics">
                    <mat-divider></mat-divider>
                    <div class="user-form__musics-title">
                        <h2>Minhas Músicas:</h2>
                    </div>
                    <table class="user-form__item user-form__item-100" mat-table [dataSource]="userSelected.musics">
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef>Título</th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <mat-form-field>
                                    <mat-label>Título</mat-label>
                                    <input type="text" [name]="'titulo-' + i" matInput [(ngModel)]="element.title" required/>
                                    <mat-error>O <b>Título</b> é obrigatório.</mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="band">
                            <th mat-header-cell *matHeaderCellDef>Banda</th>
                            <td mat-cell *matCellDef="let element; let i = index">
                               <mat-form-field>
                                    <mat-label>Título</mat-label>
                                    <input type="text" [name]="'titulo-' + i" matInput [(ngModel)]="element.title" required/>
                                    <mat-error>O <b>Título</b> é obrigatório.</mat-error>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="genre">
                            <th mat-header-cell *matHeaderCellDef>Gênero</th>
                            <td mat-cell *matCellDef="let element; let i = index"> 
                                <mat-form-field>
                                    <mat-label>Gênero:</mat-label>
                                    <input
                                        type="text"
                                        matInput
                                        [name]="'genero-' + i"
                                        [(ngModel)]="element.genre"
                                        (ngModelChange)="filterGenres($event)"
                                        [matAutocomplete]="auto"
                                        required
                                    />
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
                                        <mat-option *ngFor="let genre of filteredGenresList" [value]="genre.id">{{ genre.description }}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="favorite">
                            <th mat-header-cell *matHeaderCellDef>Favorita</th>
                            <td mat-cell *matCellDef="let element; let i = index"> 
                                <mat-checkbox [name]="'favorita-' + i" [(ngModel)]="element.isFavorite" [disabled]="isAnyCheckboxChecked() && !element.isFavorite"></mat-checkbox>
                            </td>
                        </ng-container>
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>                    
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>