<mat-card>
    <mat-card-content>
        <form class="user-form">
            <div class="user-form__row">
                <mat-form-field class="user-form__item user-form__item-100">
                    <mat-label>Nome:</mat-label>
                    <input type="text" name="nome" matInput [(ngModel)]="userSelected.name" required>
                    <mat-error>O <b>Nome</b> é obrigatório.</mat-error>
                </mat-form-field>
            </div>
            <div class="user-form__row">
                 <mat-form-field class="user-form__item user-form__item-50">
                    <mat-label>Usuário:</mat-label>
                    <input 
                        type="text" 
                        name="usuario" 
                        matInput [(ngModel)]="userSelected.username" 
                        #usernameControl="ngModel"
                        required>
                    <mat-hint>O <b>Usuário</b> será utilizado para o login</mat-hint>
                    <mat-error *ngIf="usernameControl.hasError('required')">O <b>Usuário</b> é obrigatório.</mat-error>
                </mat-form-field>
                <div class="user-form__item user-form__item-50">
                     <input type="text" style="width:100%;">
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>