<p>Separando o input do output</p>
<input [ngModel]="nome" (ngModelChange)="onChange($event)"/>

<p>Input e output ao mesmo tempo</p>
<input [(ngModel)]="nome2"/>

<button (click)="show()">Mostrar</button>
<hr>
<br>
<input
  ngModel
  #meuInput
  #meuInputFormControl="ngModel"
  minlength="5"
  required
/>

<p>Valido: {{ meuInputFormControl.valid }}</p>
<p>Tocado: {{ meuInputFormControl.touched }}</p>
<p>Sujo: {{ meuInputFormControl.dirty }}</p>

<br>

<button (click)="send()">Enviar</button>