<label for="name">Nome:</label>
<input type="text" id="name" [formControl]="nome" (input)="inputAlterado()" />

<div style="color:red;">
    <span *ngIf="nome.hasError('required')">O campo <b>Nome</b> é obrigatório.</span>
    <span *ngIf="nome.hasError('minlength') && !nome.hasError('required')">É necessário no mínimo 6 caracteres.</span>
    <span *ngIf="nome.hasError('maxlength') && !nome.hasError('required')">É necessário no MÁXIMO 7 caracteres.</span>

    <span *ngIf="nome.hasError('invalidText') && !nome.hasError('required')"> {{ nome.errors?.['invalidText'] }}</span>
</div>

<p>Valor: {{ nome.value }}</p>
<p>Válido: {{ nome.valid }}</p>

<button (click)="mostrarStatus()">Mostrar Status</button>

<button (click)="alterarValor()">Alterar Valor</button> <br/>

<button (click)="desabilitar()">Desabilitar</button> 

<button (click)="habilitar()">Habilitar</button> <br/>

<button (click)="resetar()">Resetar</button> <br/>

<button (click)="setValidators()">Set Validators</button>

<button (click)="addValidators()">Add Validators</button> <br/>