<!-- <input 
    type="checkbox"
    id="isActive"
    name="isActive"
    [(ngModel)]="isActive"
    #checkboxFormControl="ngModel"
    required
/>
<label for="isActive">Ativo</label> -->

<form #f="ngForm">
    <input 
        type="checkbox"
        id="isActive"
        name="isActive"
        [ngModel]="isActive"
        (ngModelChange)="onChange($event)"
        #checkboxFormControl="ngModel"
        required
    />
    <label for="isActive">Ativo</label>

    <input 
        type="checkbox"
        id="isApproved"
        name="isApproved"
        [(ngModel)]="isApproved"
        #checkboxFormControl="ngModel"
    />
    <label for="isApproved">Aprovado</label>

    <p>Usuário Ativo: {{ isActive }}</p>
    <p>Usuário Aprovado: {{ isApproved }}</p>

    <button [disabled]="f.invalid">Enviar</button>

    <p>Válido: {{ checkboxFormControl.valid }}</p>
    <p>Tocado: {{ checkboxFormControl.touched }}</p>
    <p>Sujo: {{ checkboxFormControl.dirty }}</p>
</form>

