<form [formGroup]="musicasForm">
    <div formArrayName="musicas">
        <div *ngFor="let musica of musicas.controls; let i = index" [formGroupName]="i">
            <label [for]="'titulo-' + i">Título: </label>
            <input type="text" [id]="'titulo-' +i" formControlName="titulo"/>
            <br/>
             <label [for]="'banda-' + i">Banda: </label>
            <input type="text" [id]="'banda-' +i" formControlName="banda"/>
        </div>

        <p>Form Array Válido: {{ musicas.valid }}</p>
        <p>Form Form Válido: {{ musicasForm.valid }}</p>
    </div>
</form>
