<div class="p-4 max-w-screen-xl mx-aut">
  <mat-card>
    <mat-card-content>
        <app-users-list [usersList]="usersList" (onUserSelected)="onUserSelected($event)"></app-users-list>
      <mat-tab-group [(selectedIndex)]="currentTabIndex" *ngIf="userSelectedIndex !== undefined" (selectedTabChange)="onTabChange($event)">
          <mat-tab label="Geral"> 
            <app-general-informations [user]="userSelected"></app-general-informations>
          </mat-tab>
          <mat-tab label="Contato">
            <app-contact-informations [user]="userSelected"></app-contact-informations>
          </mat-tab>
          <mat-tab label="Dependente">
            <app-dependents-list [dependentsList]="userSelected?.dependentsList"></app-dependents-list>
          </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>