<!-- <div class="card"> -->
   <!-- <ng-content select=".texto"></ng-content> -->
   <!-- <ng-content select="button"></ng-content> -->
   <!-- <ng-content select="[attrTeste]"></ng-content> -->
   <!-- <ng-content select="[attrTeste]"></ng-content> -->
<!-- </div> -->

<!-- o que sobrar aparece aqui -->
<!-- <ng-content></ng-content> -->

<!-- <div class="card">
    <ng-content select="[card-header]"></ng-content>
    <ng-content select="[card-content]"></ng-content>
    <ng-content select="[card-footer]"></ng-content>
</div>
 -->

<!--  <div class="card">
    <ng-content select="app-comp-texto"></ng-content>
 </div> -->

 <div class="card">
    <ng-content></ng-content>
 </div>