<!-- <app-card>
    <app-meu-comp></app-meu-comp>
</app-card> -->


<!-- <div>
  Div (a div aparecerá no DOM final):
  <app-meu-comp></app-meu-comp>
</div>

<ng-container>
  Container (só o conteúdo fará parte do DOM final):
  <app-meu-comp></app-meu-comp>
</ng-container>

<ng-template>
  Template (não é inicializado automaticamente e tb não fará parte do DOM final):
  <app-meu-comp></app-meu-comp>
</ng-template> -->

<!-- <ng-template #headerTemplate>
  <p>Sou o Header</p>
</ng-template>
<ng-template #contentTemplate>
  <p>Sou o Content</p>
</ng-template>
<ng-template #footerTemplate>
  <p>Sou o Footer</p>
</ng-template>
<p>Mandando o footer</p>
<app-card 
  [header]="headerTemplate"
  [content]="contentTemplate"
  [footer]="footerTemplate"
  ></app-card>
<hr>
<p>Sem mandar o footer</p>
  <app-card 
  [header]="headerTemplate"
  [content]="contentTemplate"
  ></app-card> -->

<app-card>
  <ng-template #meuTemplate>
    <app-meu-comp></app-meu-comp>
  </ng-template>
</app-card>