<div class="list">
  <p style="background-color: white; text-align: center;">index, odd, event, last e first são propriedades do ngFor</p>
  <app-person 
    *ngFor="
        let person of listPeople;
        let i = index;
        let isFirst = first;
        let isLast = last;
        let isOdd = odd;"
    [personName]="person.name"
    [personAge]="person.age"
    [personIndex]="i"
    [isFirst]="isFirst"
    [isLast]="isLast"
    [isOdd]="isOdd"
    [isSelected]="personSelectedIndex === i"
    (personSelected)="selectPerson($event)"
    ></app-person>
</div>
