<div>
    <p class="text-2xl font-semibold">Dependentes:</p>
    <div class="grid sm:grid-cols-3">
        <app-user-info-item title="Nome" text="Fulano"></app-user-info-item>
        <app-user-info-item title="Idade" text="20"></app-user-info-item>
        <app-user-info-item title="Documento" text="qwwe"></app-user-info-item>
    </div>

    <hr class="block sm:hidden"/>

    <div class="grid sm:grid-cols-3">
        <app-user-info-item title="Nome" text="Fulano"></app-user-info-item>
        <app-user-info-item title="Idade" text="20"></app-user-info-item>
        <app-user-info-item title="Documento" text="qwwe"></app-user-info-item>
    </div>

    <hr class="block sm:hidden"/>

    <div class="grid sm:grid-cols-3">
        <app-user-info-item title="Nome" text="Fulano"></app-user-info-item>
        <app-user-info-item title="Idade" text="20"></app-user-info-item>
        <app-user-info-item title="Documento" text="qwwe"></app-user-info-item>
    </div>
</div>