<button routerLink="/comp1" [queryParams]="{nome: 'Rodrigo', idade: 44}">Redirecionar Rodrigo</button>
<button routerLink="/comp1" [queryParams]="{nome: 'Renato', idade: 9}">Redirecionar Renato</button>
<br/>
<br/>
<button routerLink="/comp1" [queryParams]="{profissao: 'Desenvolvedor'}">Redirecionar sem preservar</button>
<br/>
<br/>
<button routerLink="/comp2" queryParamsHandling="preserve">Redirecionar PRESERVANDO</button>
<button routerLink="/comp2" queryParamsHandling="merge" [queryParams]="{profissao: 'Desenvolvedor'}">Redirecionar MERGEANDO</button>

<router-outlet></router-outlet>