<form #form="ngForm">
    <input 
        type="text"
        name="nome"
        ngModel
        #nomeinputControl="ngModel"
        [ngModelOptions]="{updateOn: 'blur'}"
        placeholder="Digite o nome"
        appUserNameValidator
    />

    <div *ngIf="nomeinputControl.dirty">
        <p *ngIf="nomeinputControl.pending" style="color:orange;">Verificando...</p>
        
        <p 
            *ngIf="!nomeinputControl.pending && nomeinputControl.valid && !nomeinputControl.hasError('invalidUserName')" 
            style="color:green;">
            Usuário existente
        </p>
        
        <p 
            *ngIf="!nomeinputControl.pending && nomeinputControl.invalid && nomeinputControl.hasError('invalidUserName')"
            style="color:red;">
            Usuário inexistente
        </p>
    </div>

    <p>Valido: {{ nomeinputControl.valid }}</p>
    <p>Tocado: {{ nomeinputControl.touched }}</p>
    <p>Sujo: {{ nomeinputControl.dirty }}</p>
    <p>Pendente: {{ nomeinputControl.pending }}</p>
</form>
