<form #form="ngForm">
    <input 
        type="text"
        name="nome"
        ngModel
        #nomeInputControl="ngModel"
        [ngModelOptions]="{ updateOn: 'blur' }"
        placeholder="Digite o nome"
        appUserNameValidator
     />

    <div *ngIf="nomeInputControl.dirty">
        <p *ngIf="nomeInputControl.pending" style="color: orange;">Verificando...</p>
        
        <p 
            style="color: green;" 
            *ngIf="!nomeInputControl.pending && nomeInputControl.valid && !nomeInputControl.hasError('invalidUserName')">
            
            Usuário existente.
        </p>
        
        <p 
            style="color: red;"
            *ngIf="!nomeInputControl.pending && nomeInputControl.invalid && nomeInputControl.hasError('invalidUserName')">
            Usuário inexistente.
        </p>
    </div>

    <p>Válido: {{ nomeInputControl.valid }}</p>
    <p>Touched: {{ nomeInputControl.touched }}</p>
    <p>Sujo: {{ nomeInputControl.dirty }}</p>
    <p>Pendente: {{ nomeInputControl.pending }}</p>
</form>
