<div class="p-4 grid gap-4">
    <p class="text-2xl font-semibold">Telefones: </p>
    
    <div class="grid lg:grid-cols-3 lg:gap-4">
        <mat-form-field class="example-full-width">
            <mat-label>Residencial: </mat-label>
            <input matInput placeholder="Residencial" value="+55 21 2222-2222">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Celular: </mat-label>
            <input matInput placeholder="Celular" value="+55 21 90000-9999">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Emergência: </mat-label>
            <input matInput placeholder="Emergência" value="+55 21 80000-8888">
        </mat-form-field>
    </div>
    
    <p class="text-2xl font-semibold">Endereços: </p>
    
    <div class="grid">
        <div class="my-4 grid sm:grid-cols-2 lg:grid-cols-6 gap-4">
            <mat-form-field class="example-full-width">
                <mat-label>Tipo: </mat-label>
                <input matInput placeholder="Tipo" value="Residencial">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Rua: </mat-label>
                <input matInput placeholder="Rua" value="Rua Qualquer">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Complemento: </mat-label>
                <input matInput placeholder="Complemento" value="Próxido ao Mercado">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>País: </mat-label>
                <input matInput placeholder="País" value="Brazil">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Estado: </mat-label>
                <input matInput placeholder="Estado" value="Rio de Janeiro">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Cidade: </mat-label>
                <input matInput placeholder="Cidade" value="Niterói">
            </mat-form-field>
        </div>

        <hr class="block lg:hidden"/>

        <div class="my-4 grid sm:grid-cols-2 lg:grid-cols-6 gap-4">
            <mat-form-field class="example-full-width">
                <mat-label>Tipo: </mat-label>
                <input matInput placeholder="Tipo" value="Trabalho">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Rua: </mat-label>
                <input matInput placeholder="Rua" value="Rua Qualquer">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Complemento: </mat-label>
                <input matInput placeholder="Complemento" value="Próxido ao Mercado">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>País: </mat-label>
                <input matInput placeholder="País" value="Brazil">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Estado: </mat-label>
                <input matInput placeholder="Estado" value="Rio de Janeiro">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Cidade: </mat-label>
                <input matInput placeholder="Cidade" value="Niterói">
            </mat-form-field>
        </div>

        <hr class="block lg:hidden"/>

        <div class="my-4 grid sm:grid-cols-2 lg:grid-cols-6 gap-4">
            <mat-form-field class="example-full-width">
                <mat-label>Tipo: </mat-label>
                <input matInput placeholder="Tipo" value="Alternativo">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Rua: </mat-label>
                <input matInput placeholder="Rua" value="Rua Qualquer">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Complemento: </mat-label>
                <input matInput placeholder="Complemento" value="Próxido ao Mercado">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>País: </mat-label>
                <input matInput placeholder="País" value="Brazil">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Estado: </mat-label>
                <input matInput placeholder="Estado" value="Rio de Janeiro">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Cidade: </mat-label>
                <input matInput placeholder="Cidade" value="Niterói">
            </mat-form-field>
        </div>

        <hr class="block lg:hidden"/>
    </div>
</div>
