<form #meuForm="ngForm">
  <!-- [ngModel]="nome"
    (ngModelChange)="onChange($event)" -->
  <mat-form-field>
    <mat-label>Nome:</mat-label>
    <input
      type="text"
      name="nome"
      matInput
      [(ngModel)]="nome"
      #nomeControl="ngModel"
      required
    />
    <mat-hint>O Nome é necessário!</mat-hint>
    <mat-error>O Nome deve ser preenchido!</mat-error>
  </mat-form-field>

  <div>
    Válido: {{ nomeControl.valid }} <br />
    <br />

    <button type="button" [disabled]="meuForm.invalid" (click)="onClick()">
      Enviar
    </button>
  </div>
</form>
