<input type="text" #meuInput ngModel/>

Valor: {{ meuInput.value }}

<button (click)="clicou(meuInput)">Atualizar</button>



<div class="primo">
 
</div>


<!-- ngIf cria o contexto -->
<div class="pai" *ngIf="true">
  <input type="text" #inputPai ngModel/>
  <!-- para funciona tem que remover o *ngIf do filho -->
  <!-- Pai: {{ inputFilho.value }} -->

  <!-- ngIf cria o contexto assim como o ngFor e ISOLA o conteúdo-->
  <div class="filho" *ngIf="true" >
    <input #inputFilho ngModel>
    Filho: {{ inputPai.value }}
  </div>
</div>