<!-- <p>{{ pessoa.nome }}</p>

<p>{{ pessoa.nome | uppercase }}</p>

<p>{{ pessoa | json }}</p>

<p>{{ pessoa | json | uppercase }}</p>
<hr>
<p>Status do Usuário: {{ pessoa.status | userStatus}}</p>

<hr>

<p>Nome do Usuário: {{ pessoa.nome | truncate:2 | uppercase }}</p>

<hr> -->
<!-- angular.io/api/common#pipes -->
<!-- <h2>Pipes de TEXTO</h2>
<p>uppercase: {{ pessoa.nome | uppercase }}</p>

<p>lowercase: {{ pessoa.nome | lowercase }}</p>

<p>titlecase: {{ pessoa.nome | titlecase }}</p>

<p>json: {{ pessoa | json }}</p>

<p>slice 0 :3 : {{ pessoa.nome | slice: 0 : 3 }}</p>

<p>slice 0 :3 : {{ pessoa.nome | slice: 5 }}</p>

<p>slice 0 :3 : {{ [1,2,3,4,5] | slice: 0 : 3 }}</p>

<p><em>*ngFor="let n of[1,2,3,4,5] | slice : 0 : 2"</em></p>
<p *ngFor="let n of[1,2,3,4,5] | slice : 0 : 2">
  {{ n }}
</p>

<hr>
<h2>Pipes de DATA</h2>

<p>Formato ISO8601:</p>
<p>{{minhaData | date: 'full' }}</p>

<p>Data UTC-0:</p>
<p>{{minhaData | date: 'full' : '+0000' }}</p>

<p>Formato Timestamp</p>
<p>Timestamp GMT -3: {{1697922000000 | date: 'full' }}</p>

<p>Timestamp GMT 0: {{1697922000000 | date: 'full' : '+0000' }}</p>

<p>Formato Date OBJ</p>
<p><b>Data convertida para região:</b> {{minhaDataObj | date: 'full'}}</p>

<p><b>Data GMT 0:</b> {{minhaDataObj | date: 'full' : '+0000'}}</p>

<hr>

<p>Curto: {{ minhaData | date : 'short' }}</p>

<p>Médio: {{ minhaData | date : 'medium' }}</p>

<p>Longo: {{ minhaData | date : 'long' }}</p>

<p>Completo: {{ minhaData | date : 'full' }}</p>

<p>
  <a href="https://angular.io/api/common/DatePipe">angular.io/api/common/DatePipe</a><br/>
  <b>Hoje é Saturday dia 21 de October de 2023: </b> 
  {{ minhaData | date : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY"}}
</p>

<p>
  <b>Hoje é Saturday dia 21 de October de 2023 às 18:00</b>
  {{ minhaData | date : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY 'às' HH:mm "}}
</p>

<p>
  <b>Hoje é Saturday dia 21 de October de 2023 às 18:00 GMT-03:00</b>
  {{ minhaData | date : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY 'às' HH:mm zzzz "}}
</p>

<p>
  <b>Hoje é Saturday dia 21 de October de 2023 às 21:00 GMT+00:00</b>
  {{ minhaData | date : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY 'às' HH:mm zzzz " : "+0000"}}
</p>

<p>
  <b>Data: 21/10/2023 Hora: 18:00 PM:</b>
  {{ minhaData | date : "'Data:' dd/MM/YYYY 'Hora' HH:mm a"}}
</p>
 -->
<hr>

<p>Alteração feita no providers (<span style="color:yellow;">DATE_PIPE_DEFAULT_OPTIONS</span>) do <b>app.module</b> para padronizar o date e o fusorário quando não forem especificados</p>

<p>{{ minhaData | date }}</p>


<p>Alteração feita no providers (<span style="color:blue;">LOCALE_ID</span>) do <b>app.module</b> para padronizar o locale quando não for especificado/p>

<p>{{ minhaData | date :'full' : undefined : 'pt-BR'}}</p>

<p>{{ minhaData | date :'full' }}</p>

<p>{{ minhaData | date :'full' : undefined : 'en-US'}}</p>







