<div class="p-4 grid gap-4 bg-orange-400 sm:grid-cols-3">
    <mat-card class="user-card-hover">
        <mat-card-header>
            <mat-card-title> {{ 'Fulano' }} </mat-card-title>
            <mat-card-subtitle> {{ 'fulano@gmail.com' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
    <mat-card class="user-card-hover">
        <mat-card-header>
            <mat-card-title> {{ 'Fulano' }} </mat-card-title>
            <mat-card-subtitle> {{ 'fulano@gmail.com' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
        <mat-card class="user-card-hover">
        <mat-card-header>
            <mat-card-title> {{ 'Fulano' }} </mat-card-title>
            <mat-card-subtitle> {{ 'fulano@gmail.com' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
</div>
