<form [formGroup]="pessoaForm">
    <p style="color: white"><em>Só funciona se o último campo digitado for o Confirmação de senha :(</em></p>
    <input type="text" placeholder="Senha" formControlName="senha">
    <input type="text" placeholder="Confirmação de Senha" formControlName="confirmacaoSenha">
    
    <div>
        <p *ngIf="pessoaForm.get('confirmacaoSenha')?.hasError('invalidPassword')">Confirmação de Senha Inválida</p>
    </div>
</form>

<button (click)="mostrarForm()">Mostrar Form</button>

<p>Pessoa Form Válido: {{ pessoaForm.valid }}</p>
<p>Confirmação Senha Válido: {{ pessoaForm.get('confirmacaoSenha')?.valid }}</p>