<form #meuForm="ngForm" (ngSubmit)="onSubmit(meuForm)" [ngFormOptions]="{ updateOn: 'blur' }">
    <input name="nome" type="text" #meuInput="ngModel" [(ngModel)]="inputText" [ngModelOptions]="{ updateOn: 'change' }" required />

    <br />

    <textarea name="descricao" [(ngModel)]="textarea"></textarea>

    <br />

    <select name="pais" [(ngModel)]="select">
        <option value="1">Brasil</option>
        <option value="2">Espanha</option>
    </select>

    <br />

    <input type="radio" name="groupStatus" id="ativo" value="1" [(ngModel)]="radioButton" />
    <label for="ativo">Ativo</label>

    <input type="radio" name="groupStatus" id="inativo" value="2" [(ngModel)]="radioButton" />
    <label for="inativo">Inativo</label>

    <br />

    <input type="checkbox" id="condicao" name="condicao" [(ngModel)]="checkbox" />
    <label for="condicao">Declaração de Termos</label>

    <button type="submit">Enviar</button>
    <button type="button" (click)="onReset(meuForm)">Limpar</button>
</form>

