.card-cancel-button{
    color: black !important;
    background-color: yellow !important;
}

//Acessa TODOS os sliders
.mdc-slider__track--active_fill{
    border-color: yellowgreen !important;
}