<form [formGroup]="_pessoaFormControllerService.pessoaForm" (ngSubmit)="onFormSubmit()">
    <label for="name">Nome:</label>
    <input type="text" id="name" formControlName="nome" />
    <p *ngIf="_pessoaFormControllerService.nomeControl.hasError('required')">O Nome é obrigatório.</p>

    <br />

    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email" />

    <br />

    <div formGroupName="endereco">
        <h4>Endereço:</h4>

        <label for="street">Rua:</label>
        <input type="text" id="street" formControlName="rua" />

        <br />

        <label for="number">Número:</label>
        <input type="text" id="number" formControlName="numero" />
    </div>

    <div formArrayName="musicas">
        <h4>Músicas:</h4>

        <div *ngFor="let musica of _pessoaFormControllerService.musicas.controls; let i = index;">
            <label [for]="'musica-' + i">Música {{ i + 1 }}:</label>
            <input type="text" [id]="'musica-' + i" [formControlName]="i" />
        </div>
    </div>

    <button type="submit" [disabled]="!_pessoaFormControllerService.pessoaForm.valid">Enviar</button>
</form>