<h4>====== HostListener </h4>

<input appListener type="text" />

===================== <br/>

<!-- <app-sem-diretiva></app-sem-diretiva>

<app-com-diretiva></app-com-diretiva> -->

<button disabled>disabled</button>
<br/>
<!-- Atributo -->
<button [attr.disabled]="false">[attr.disabled]="false"</button>
<br/>
<!-- Propriedade -->
<button [disabled]="false">[disabled]="false"</button>
<br/>
<button appDisabled>appDisabled - Meu botão prop diretiva</button>
<br/>

<p style="background-color: orange; color:white">Parágrafo Normal :)</p>

<!-- Só aceita string -->
<p [attr.style]="'background-color: orange; color:white;'">Attr</p>

<p [style]="'background-color: orange; color:white;'">Property</p>

<p [style]="{backgroundColor: 'orange', color:'white'}">Property OBJ</p>

<p appStyle>appStyle</p>

===================

<p class="meu-texto">Normal</p>

<p [attr.class]="'meu-texto'">attr.class</p>

<!-- Limitado à propriedade normal do elemento -->
<p [className]="'meu-texto meu-size'">Prop className</p>

<!-- Recomendado. Criação do povo do Angular. Mais abrangente -->
<p [class]="{
  'meu-texto': true,
  'meu-size': true
}"></p>

<p appClass>appClass</p>




