<form #meuForm="ngForm" appDepartmentQuantityValidator>
  <label for="departamento">Departamento:</label>
  <select name="departamento" id="departamento" ngModel>
    <option value="IT">Tecnologia</option>
    <option value="HR">Recursos Humanos</option>
  </select>

  <input type="text" name="quantidade" id="quantidade" ngModel placeholder="Quantidade de pessoas" />

  <div *ngIf="meuForm && meuForm.invalid && meuForm.dirty">
    <p *ngIf="meuForm.hasError('invalidITQuantity')">O departamento de Tecnologia deve ter no máximo 10 pessoas.</p>
    <p *ngIf="meuForm.hasError('invalidHRQuantity')">O departamento de Recursos Humanos deve ter no máximo 20 pessoas.</p>
  </div>
</form>
