    <div class="grid lg:grid-cols-3 lg:gap-4">
        <mat-form-field class="w-full">
            <mat-label>Residencial: </mat-label>
            <input matInput placeholder="Residencial" mask="+00 00 0000-0000">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Celular: </mat-label>
            <input matInput placeholder="Celular" mask="+00 00 00000-0000">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Emergência: </mat-label>
            <input matInput placeholder="Emergência" mask="+00 00 0000-0000 || +00 00 0000-0000">
        </mat-form-field>
    </div>