    <div class="grid lg:grid-cols-3 lg:gap-4">
        <mat-form-field class="w-full">
            <mat-label>Residencial: </mat-label>
            <input matInput placeholder="Residencial" value="+55 21 2222-2222">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Celular: </mat-label>
            <input matInput placeholder="Celular" value="+55 21 90000-9999">
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Emergência: </mat-label>
            <input matInput placeholder="Emergência" value="+55 21 80000-8888">
        </mat-form-field>
    </div>