<div class="menu">
  <div class="menu__item">
      <a class="menu__link" (click)="navigateToInitial()">
          Inicial
      </a>
  </div>
  <div class="menu__item">
      <a class="menu__link" (click)="navigateToContacts()">
          Contatos
      </a>
  </div>
  <div class="menu__item" (click)="navigateToInformations()">
      <a class="menu__link">
          Informações
      </a>
  </div>
  <div class="menu__item" (click)="navigateToCards()">
      <a class="menu__link">
          Cartões
      </a>
  </div>
</div>

<router-outlet></router-outlet>